<style>
    .container{
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
    }
    a{
        text-decoration:none;
        font-size: 1.1rem;
        display: flex;
        flex-direction: row;
    }
    .cards{
        padding: 20px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        flex: 1;
        background-color: white;
        border-radius: 10px;
        /*height: 80px;*/
        min-width: 233px;
        width: 100%;
        cursor: pointer;
        box-shadow: 0 2px 3px rgba(0,0,0,.16), 0 2px 3px rgba(0,0,0,.24);
        transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
        margin: 5px;
    }
    .card:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,.2), 0 6px 6px rgba(0,0,0,.24);
        transform: translateY(-3px);
    }
    .card-header{
        height: 30px;
        line-height: 30px;
        text-align: center;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        font-size: 1.1rem;
        font-weight: bold;
        border-bottom: 1px solid #e5e5e5;
    }
    .card-input{
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    .card-input input{
        border: none;
        outline: none;
        width: 90%;
        height: 20px;
        font-size: 1rem;
        color: dodgerblue;
        border-bottom: 1px solid #ffffff;
    }
    .card-input input:hover,.card-input input:active{
        border-bottom: 1px solid #b5b5ff;
    }
    .card-btn{
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .card-btn input{
        width: 90%;
        height: 25px;
        border: none;
        outline: none;
        background-color: #f5f5f5;
        font-size: 1rem;
    }
    .card-btn input:active{
        background-color: #d5d5d5;
    }
    .card-output{
        padding: 5px 0;
        min-height: 30px;
        line-height: 30px;
    }
    .card-code{
        background-color: black;
        color: white;
        margin: 0 auto;
        border-radius: 10px;
        width: calc(90% - 10px);
        padding: 5px;
        font-size: 1.2em;
    }
    .modal{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 999;
    }
    .modal-shadow{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(45, 52, 54,0.85);
        z-index: 1000;
    }
    .modal-main{
        position: fixed;
        left: calc(100vw/2 - 400px);
        top: 1%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255,0.75);
        width: 800px;
        margin-top: 20vh;
        border-radius: 10px;
        padding: 20px;
        z-index: 1001;
    }
    .modal-title{
        height: 40px;
        line-height: 40px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .modal-code textarea{
        width: 100%;
        min-height: 300px;
        border: none;
        outline: none;
        font-size: 1.2rem;
        background-color: black;
        color: white;
        padding: 5px;
    }
    .modal-input{
        height: 40px;
        text-align: left;
        margin-top: 5px;
    }
    .modal-input input{
        border: none;
        outline: none;
        width: 100%;
        padding: 5px;
        font-size: 1rem;
        color: dodgerblue;
        border-bottom: 1px solid #ffffff;
    }
    .modal-btn{
        height: 30px;
        line-height: 30px;
        text-align: left;
    }
    .modal-btn input{
        width: 100px;
        height: 25px;
        border: none;
        outline: none;
        background-color: #f5f5f5;
        font-size: 1rem;
    }
    .modal-btn input:active{
        background-color: #d5d5d5;

    }

    .hide{
        display: none;
    }
    #add-item{
        margin-left: 35px;
        margin-top: 20px;
        width: 50px;
        height: 25px;
        border: none;
        background-color: white;
        font-size: 1.2rem;
        box-shadow: 0 2px 3px rgba(0,0,0,.16), 0 2px 3px rgba(0,0,0,.24);
        outline: none;
        transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
    }
    #add-item:active{
        background: rgba(236, 240, 241,0.5);
        box-shadow: 0 10px 20px rgba(0,0,0,.2), 0 6px 6px rgba(0,0,0,.24);
        transform: translateY(-3px);
    }

</style>
<div class="container">

    <input type="button" value="+" id="add-item" onclick="show()">

    <div class="cards">
        {% if datas %}
        {% for data in datas %}
        <div class="card">
            <div class="card-header">{{data["name"]}}</div>
            <div class="card-input"><input data-script='{{data["script"]}}' type="text" placeholder="输入参数"></div>
            <div class="card-btn"><input type="button" value="执行" onclick="exec(this)"></div>
            <div class="card-output">
                <div class="card-code">
                    <code>输出结果...</code>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="modal hide"  >
    <div class="modal-shadow" onclick="hide()"></div>
    <div class="modal-main">
        <div class="modal-title">脚本</div>
        <div class="modal-code">
            <textarea id="content"></textarea>
        </div>
        <div class="modal-input">
            <input type="text" id="name" placeholder="脚本名字">
        </div>
        <div class="modal-btn">
            <input type="button" value="保存" onclick="add()">
        </div>
    </div>
</div>
<script>
    function exec(ele){
        let paramEle = ele.parentNode.previousElementSibling.firstChild
        let codeEle = ele.parentNode.parentNode
        let datas = {
            param:paramEle.value,
            script:paramEle.getAttribute("data-script")
        }
        fetch('/exec-script',{
            method: 'POST',
            body: JSON.stringify(datas),
            headers: { 'Content-Type': 'application/json;charset=utf-8'}
        })
        .then(response => response.json())
        .then(data => {
            codeEle.querySelector("code").innerHTML = data.output
        })
    }
    function add(){
        let content = trim(document.getElementById("content").value)
        let name = trim(document.getElementById("name").value)
        if(content === ""){
            alert("脚本内容不能为空")
            return
        }
        if(name === ""){
            alert("脚本名字不能为空")
            return
        }
        var datas = {
            content:content,
            name:name
        }
        fetch('/add-script',{
            method: 'POST',
            body: JSON.stringify(datas),
            headers: { 'Content-Type': 'application/json;charset=utf-8'}
        }).then(response =>{
            console.log(response.json())
            location.reload()
        })
    }
    function trim(str){
        return str.replace(/(^\s*)|(\s*$)/g,"")
    }
    function show() {
        document.querySelector(".modal-code textarea").value = ""
        document.querySelector(".modal").classList.remove("hide")
    }
    function hide(){
        document.querySelector(".modal").classList.add("hide")
    }
</script>
